<template>
  <div class="grid-2">
    <div class="section-1">
      <i class="fas fa-code fa-5x white"></i>
      <h2>Berke Umut Biricik</h2>
      <p>Muğla,Turkey.</p>
      <a href="https://www.reddit.com/user/dxGl1tch"><i class="fab fa-reddit"></i></a>
      <a href="https://gitlab.com/gl1tchs"><i class="fab fa-gitlab"></i></a>
      <a href="https://www.twitter.com/1gl1tch/"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="section-2">
      <h2>About</h2>
      <p>
        I am a student, developer who loves to build things on my own.
      </p>
      <h2>Experience</h2>
      <p>
        I've been dealing with software and computer business for over 1 year.
      </p>

      <h2>Skills</h2>
      <p>
        I have knowledge of diffrent types of programming languages like c, c++, python, java,
        javascript; and frameworks like qt, django, spring, vue
      </p>
      <!-- <h2>Projects</h2>
      <a href="#">Project 1</a>
      <a href="#">Project 2</a>
      <a href="#">Project 3</a>
      <a href="#">Project 4</a>
      <a href="#">Project 5</a> -->
      <h2>Contact</h2>
      <p>me@berkeumutbiricik.com</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainComponent",
};
</script>
